<!DOCTYPE html>
<html>
  <head>
    <title>Register Testing Environment</title>
  </head>
  <body>
    <h1>Register Testing Environment</h1>
    <div id="register-template">
<%= File.open("html/register_frame.html").read() %>
    </div>
  </body>
</html>
