#register {
  font-family: arial;
  margin: 10px 5px 5px 5px;
  border: 3px outset blue;
  background-color: #f0f0e0;
  padding: 3px;
  width: 950px;
  -moz-border-radius: 6px;
}
.title {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
.column {
  float: left;
  margin: 2px 5px;
}
hr {
  clear: both;
  border: none;
  padding: 0;
  margin: 0;
}
hr.subtle {
  clear: none;
  border-bottom: 1px solid gray;
  margin: 2px 0;
}
#ledger .headers {
  text-align: center;
}
#ledger .label {
  width: 9em;
}
#ledger .debit,
#ledger .credit {
  width: 5em;
}
#ledger .detail {
  width: 7em;
}
#ledger .remove {
  font-weight: bold;
  color: red;
}
#ledger .ledger-entry input {
  text-align: right;
}
#ledger .ledger-entry .debit input {
  color: red;
}
dl.inline {
  margin: 0;
  padding: 0;
}
dl.inline dt {
  clear: left;
  float: left;
  text-align: right;
  width: 10em;
}
dl.inline dd {
  float: left;
  margin: 0 0 5px 10px;
}
.submission.controls {
  text-align: right;
  background-color: #d9d9e0;
}
.submission.controls .cancel-control {
  float: left;
  margin-top: 3px;
}
#test-payments th {
  text-align: center;
  background-color: gray;
}
#test-payments th,
#test-payments td {
  padding: 1px 3px;
}
#test-payments td {
  background-color: lavender;
}
.payment-fields pre {
  margin-top: 2em;
}
